* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom colors */
:root {
  --background: #e3e7d1;
  --color2: #b2bca5;
  --font: #2b384d;
  --border: #354b70;
}

body {
  background-color: var(--background);
  font-family: "Oswald", sans-serif;
  color: var(--font);
  margin-bottom: 5rem;
}

header {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

h2 {
  padding-top: 1rem;
  font-size: 1rem;
  font-style: italic;
}

button {
  margin: 2px;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--border);
  background-color: var(--background);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: var(--border);
  text-align: center;
  transition: all 0.2s;
  outline-style: none;
}

button:hover {
  color: var(--background);
  background-color: var(--border);
}

button:focus {
  color: var(--background);
  background-color: var(--border);
}

label {
  margin-right: 4px;
  padding-right: 10px;
  font-size: larger;
}

input {
  width: 40px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: "Oswald", sans-serif;
  padding-bottom: 8px;
  font-size: larger;
  background-color: var(--background);
  margin-right: 6px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--color2);
  width: 100%;
  min-height: 3rem;
}

.pixel-canvas {
  display: grid;
  max-width: 600px;
  min-height: 600px;
  margin: 2rem auto;
  border: 2px solid var(--border);
}

.div-grid {
  border: 1px solid var(--border);
}

.controls {
  display: flex;
  justify-content: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". mbm links";
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.footer-middle {
  grid-area: mbm;
  justify-self: center;
}

.footer-right {
  grid-area: links;
  justify-self: right;
}

.links {
  color: var(--font);
  transition: color 300ms ease;
  cursor: pointer;
}

.links:visited {
  color: var(--font);
}

.links:hover {
  color: var(--background);
}

.links:focus {
  color: var(--background);
  outline: none;
}
