* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom colors */
:root {
  --background: #e3e7d1;
  --color2: #b2bca5;
  --font: #2b384d;
  --border: #354b70;
}

body {
  background-color: var(--background);
  font-family: "Oswald", sans-serif;
  color: var(--font);
  margin-bottom: 5rem;
}

header {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

h2 {
  padding-top: 1rem;
  font-size: 1rem;
  font-style: italic;
}

button {
  margin: 2px;
}

label {
  margin-right: 4px;
}

input {
  background-color: var(--background);
  margin-right: 6px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--color2);
  width: 100%;
  min-height: 3rem;
}

.pixel-canvas {
  display: grid;
  max-width: 600px;
  min-height: 600px;
  margin: 2rem auto;
  border: 2px solid var(--border);
}

.div-grid {
  border: 1px solid var(--border);
}

.controls {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-between;
}
.footer-middle {
  align-self: center;
}

.footer-right {
  align-self: center;
}

.links {
  color: var(--font);
  transition: color 300ms ease;
  cursor: pointer;
}

.links:visited {
  color: var(--font);
}

.links:hover {
  color: var(--background);
}

.links:focus {
  color: var(--background);
  outline: none;
}
